Source: crash-reporter
Section: base
Priority: optional
Build-Depends-Indep: debhelper (>> 5)
Maintainer: Martin Pitt <martin.pitt@ubuntu.com>
Standards-Version: 3.7.2

Package: crash-reporter
Architecture: all
Depends: python, lsb-base (>= 3.0-6)
Description: automatically generate crash reports for debugging
 TODO
